body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

h1, h2, h3 {
    margin: 0;
    padding: 10px 0;
}

section {
    padding: 20px;
    margin: 10px;
}

article {
    margin-bottom: 20px;
}

img {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

footer {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Responsive Design */
@media (max-width: 768px) {
    body {
        font-size: 16px;
    }

    h1, h2, h3 {
        padding: 5px 0;
    }

    section {
        padding: 15px;
        margin: 5px;
    }

    footer {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 18px;
    }

    header, footer {
        padding: 5px 0;
    }

    h1 {
        font-size: 18px;
    }

    h2, h3 {
        font-size: 18px;
    }

    section, article {
        padding: 10px;
        margin: 3px;
    }

    footer {
        font-size: 10px;
    }
}
